In [19]:
import pandas as pd

In [21]:
movies= pd.read_csv("https://github.com/SavioSal/datasets/raw/master/movie_clean.csv",encoding= 'unicode_escape')

In [22]:
movies.head()

,title,genres,runtime,vote_average,vote_count,year,overview
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995.0,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995.0,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995.0,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995.0,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995.0,Just when George Banks has recovered from his ...

In [23]:
movies.shape

(45572, 7)

In [24]:
movie_name= input("Enter a Movie name: ")

Enter a Movie name: Jumanji

In [25]:
movies=movies.fillna("")

In [26]:
#determine the records for the movie name
selected_movie= movies[movies['title'].str.contains(movie_name)]

In [27]:
selected_movie

,title,genres,runtime,vote_average,vote_count,year,overview
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995.0,When siblings Judy and Peter discover an encha...

In [28]:
#get the geners of the selected movie
selected_movies_genre = selected_movie['genres']

In [29]:
selected_movies_genre

1    ['adventure', 'fantasy', 'family']
Name: genres, dtype: object

In [30]:
movies.values

array([['Toy Story', "['animation', 'comedy', 'family']", 81.0, ...,
        5415.0, 1995.0,
        "Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."],
       ['Jumanji', "['adventure', 'fantasy', 'family']", 104.0, ...,
        2413.0, 1995.0,
        "When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures."],
       ['Grumpier Old Men', "['romance', 'comedy']", 101.0, ..., 92.0,
        1995.0,
        "A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcÃ©e opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max."],
       ...,
       ['', '', '', ..., '', '',
        'When one of her hits goes wrong, a professional assassin ends up with a suitcase full of a million dollars belonging to a mob boss ...'],
       ['', '', '', ..., '', '',
        "In a small town live two brothers, one a minister and the other one a hunchback painter of the chapel who lives with his wife. One dreadful and stormy night, a stranger knocks at the door asking for shelter. The stranger talks about all the good things of the earthly life the minister is missing because of his puritanical faith. The minister comes to accept the stranger's viewpoint but it is others who will pay the consequences because the minister will discover the human pleasures thanks to, ehem, his sister- in -lawâ\x80¦ The tormented minister and his cuckolded brother will die in a strange accident in the chapel and later an infant will be born from the minister's adulterous relationship."],
       ['', '', '', ..., '', '',
        '50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.']],
      dtype=object)

In [31]:
movie_index_counter = -1
movie_index_list = []
for ind_movie_genre in movies['genres']:
    movie_index_counter += 1
    for single_genre in selected_movies_genre:
        if single_genre in ind_movie_genre:
            movie_index_list.append(movie_index_counter)
            break
            
print ("Movie Index List: ", movie_index_list)

Movie Index List:  [1, 4766, 5406, 5678, 6101, 7011, 7725, 10554, 10896, 11981, 13893, 14841, 16128, 23473, 27737, 38208]

In [32]:
movies.take(movie_index_list)

,title,genres,runtime,vote_average,vote_count,year,overview
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995.0,When siblings Judy and Peter discover an encha...
4766,Harry Potter and the Philosopher's Stone,"['adventure', 'fantasy', 'family']",152.0,7.5,7188.0,2001.0,Artist Lyle Maze is reconciled to a life witho...
5406,Clash of the Titans,"['adventure', 'fantasy', 'family']",118.0,6.8,208.0,1981.0,"Naoya and Katsuhiro are boyfriends, new in the..."
5678,Harry Potter and the Chamber of Secrets,"['adventure', 'fantasy', 'family']",161.0,7.4,5966.0,2002.0,"A newspaper photographer, Jean, researches the..."
6101,Journey to the Center of the Earth,"['adventure', 'fantasy', 'family']",132.0,6.7,107.0,1959.0,The Benny Goodman Story is a biographical film...
7011,Peter Pan,"['adventure', 'fantasy', 'family']",113.0,6.9,671.0,2003.0,"Using archival footage, United States Cabinet ..."
7725,Harry Potter and the Prisoner of Azkaban,"['adventure', 'fantasy', 'family']",141.0,7.7,6037.0,2004.0,A dramatization of the controversial trial con...
10554,Harry Potter and the Goblet of Fire,"['adventure', 'fantasy', 'family']",157.0,7.5,5758.0,2005.0,Pete (played by Antti Tarvainen) loses his con...
10896,The Brothers Lionheart,"['adventure', 'fantasy', 'family']",102.0,6.9,22.0,1977.0,The year is 2000 and investors are going crazy...
11981,Jack the Giant Killer,"['adventure', 'fantasy', 'family']",94.0,5.3,14.0,1962.0,Bourne is brought out of hiding once again by ...
13893,Harry Potter and the Half-Blood Prince,"['adventure', 'fantasy', 'family']",153.0,7.4,5435.0,2009.0,The movie focuses on one of the events in Zend...
14841,Percy Jackson & the Olympians: The Lightning T...,"['adventure', 'fantasy', 'family']",118.0,6.0,2079.0,2010.0,A young father and his infant son are beset by...
16128,Harry Potter and the Deathly Hallows: Part 1,"['adventure', 'fantasy', 'family']",146.0,7.5,5708.0,2010.0,Shakespeare's 17th century masterpiece about t...
23473,Neverland,"['adventure', 'fantasy', 'family']",180.0,6.0,93.0,2011.0,Satan's School for Girls is set within the gri...
27737,Journey to the Beginning of Time,"['adventure', 'fantasy', 'family']",93.0,8.0,11.0,1955.0,"A 2,000-year-old astrology board possesses dea..."
38208,Old Man Khottabych,"['adventure', 'fantasy', 'family']",86.0,6.1,7.0,1956.0,Baldwinâs âpseudo-pseudo-documentaryâ pr...

In [33]:
movies.loc[movies['genres'].isin(selected_movies_genre)]

,title,genres,runtime,vote_average,vote_count,year,overview
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995.0,When siblings Judy and Peter discover an encha...
4766,Harry Potter and the Philosopher's Stone,"['adventure', 'fantasy', 'family']",152.0,7.5,7188.0,2001.0,Artist Lyle Maze is reconciled to a life witho...
5406,Clash of the Titans,"['adventure', 'fantasy', 'family']",118.0,6.8,208.0,1981.0,"Naoya and Katsuhiro are boyfriends, new in the..."
5678,Harry Potter and the Chamber of Secrets,"['adventure', 'fantasy', 'family']",161.0,7.4,5966.0,2002.0,"A newspaper photographer, Jean, researches the..."
6101,Journey to the Center of the Earth,"['adventure', 'fantasy', 'family']",132.0,6.7,107.0,1959.0,The Benny Goodman Story is a biographical film...
7011,Peter Pan,"['adventure', 'fantasy', 'family']",113.0,6.9,671.0,2003.0,"Using archival footage, United States Cabinet ..."
7725,Harry Potter and the Prisoner of Azkaban,"['adventure', 'fantasy', 'family']",141.0,7.7,6037.0,2004.0,A dramatization of the controversial trial con...
10554,Harry Potter and the Goblet of Fire,"['adventure', 'fantasy', 'family']",157.0,7.5,5758.0,2005.0,Pete (played by Antti Tarvainen) loses his con...
10896,The Brothers Lionheart,"['adventure', 'fantasy', 'family']",102.0,6.9,22.0,1977.0,The year is 2000 and investors are going crazy...
11981,Jack the Giant Killer,"['adventure', 'fantasy', 'family']",94.0,5.3,14.0,1962.0,Bourne is brought out of hiding once again by ...
13893,Harry Potter and the Half-Blood Prince,"['adventure', 'fantasy', 'family']",153.0,7.4,5435.0,2009.0,The movie focuses on one of the events in Zend...
14841,Percy Jackson & the Olympians: The Lightning T...,"['adventure', 'fantasy', 'family']",118.0,6.0,2079.0,2010.0,A young father and his infant son are beset by...
16128,Harry Potter and the Deathly Hallows: Part 1,"['adventure', 'fantasy', 'family']",146.0,7.5,5708.0,2010.0,Shakespeare's 17th century masterpiece about t...
23473,Neverland,"['adventure', 'fantasy', 'family']",180.0,6.0,93.0,2011.0,Satan's School for Girls is set within the gri...
27737,Journey to the Beginning of Time,"['adventure', 'fantasy', 'family']",93.0,8.0,11.0,1955.0,"A 2,000-year-old astrology board possesses dea..."
38208,Old Man Khottabych,"['adventure', 'fantasy', 'family']",86.0,6.1,7.0,1956.0,Baldwinâs âpseudo-pseudo-documentaryâ pr...

In [34]:
movies_df= movies.loc[movies['genres'].isin(selected_movies_genre)]

In [35]:
def movie_recomender(): 
    movies= pd.read_csv("https://github.com/SavioSal/datasets/raw/master/movie_clean.csv",encoding= 'unicode_escape')
    movie_name= input("Enter a Movie name: ")
    movies=movies.fillna("")
    selected_movie= movies[movies['title'].str.contains(movie_name)]
    selected_movie
    selected_movies_genre = selected_movie['genres']
    movies.loc[movies['genres'].isin(selected_movies_genre)]
    print("Enjoy!! watching following movies: ", movies_df["title"])

In [37]:
movie_recomender()

Enter a Movie name: dumbo
Enjoy!! watching following movies:  1                                                  Jumanji
4766              Harry Potter and the Philosopher's Stone
5406                                   Clash of the Titans
5678               Harry Potter and the Chamber of Secrets
6101                    Journey to the Center of the Earth
7011                                             Peter Pan
7725              Harry Potter and the Prisoner of Azkaban
10554                  Harry Potter and the Goblet of Fire
10896                               The Brothers Lionheart
11981                                Jack the Giant Killer
13893               Harry Potter and the Half-Blood Prince
14841    Percy Jackson & the Olympians: The Lightning T...
16128         Harry Potter and the Deathly Hallows: Part 1
23473                                            Neverland
27737                     Journey to the Beginning of Time
38208                                   Old Man Khottabych
Name: title, dtype: object